*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}
image{
    width: 100%;
}
html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}
header{
    background-color:rgb(247, 245, 245);
    display: grid;
    grid-auto-flow: column;
    height: 70px;
    position: fixed;
    width: 100vw;
z-index: 10;
  
}
header h1{
 padding: 17px;
 font-size: 28px;
 padding-left: 40px;
 font-family:fantasy;
 font-weight: 100px;
 color: rgb(83, 82, 82);
}
header ul{
 display: grid;
 grid-auto-flow: column;
 align-items: center;
 justify-content: end;
 gap: 40px;
 padding-right: 50px;
}
header ul li{
    list-style: none;
    font-size: 18px;
 color: rgb(83, 82, 82);
 font-weight: 550;

    
}
header a{
    text-decoration: none;
}
main {
    padding-top: 70px;
   background-color: rgb(185, 185, 185);
}
main .section-1{
    display: grid;
    background-image: url(/about/photos/Tony\ robins\ blue.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    padding-top: 70px;
}
.section-1 .tony-description{
    display: grid;
    height: 80vh;
    width: 80vw;
    padding-top: 40px;
    justify-self: center;
    background-color: rgba(8, 8, 8, 0.4);
     gap: 10px;

}
.tony-description h2{
    text-align: center;
   color:  rgb(204, 204, 204);
   padding-bottom: 30px;
}
.tony-description p{
    display: grid;
    grid-auto-flow: row;
    
    text-align: center;
    color: rgb(204, 204, 204);
    justify-content: center;
    padding-left: 190px;
    padding-right: 190px;
  
}

.section-middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(184, 184, 187);
    padding: 50px;
    gap: 100px;
    width: 100vw;
    align-content: center;
    padding-left: 100px;
    padding-right:100px ;
   
  
}
.section-middle .article-image img{
width: 550px;
height: 350px;
outline: 1px solid white;

 }
 .section-middle .article-writting{
     display: grid;
    align-content: flex-start;
     justify-content: center;
     gap: 20px;
  

 }
 .article-writting h3{
    color: rgb(36, 36, 36);
 }

.article-writting .read-more button{
    width: 80px;
    height: 30px;background-color: rgb(80, 80, 255);
    border: none;
    color: white;
}
.section-middle .article-image iframe{

    object-position: center;
    object-fit: cover;
    height: 350px;
    width: 550px;


}


.section-2 .coach-sections{
    background-color:#f9f9f9;;
  
    overflow: auto;
    height: 100%;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-content: start;
    justify-content: center;
    gap:30px ;
   
    padding:100px;
    padding-top:;
 

}
/* coach-1 */
.coach-sections .coach-1{
    display: grid;
    outline: 2px solid red;
   
  
}
 .coach-1 {
  height: 320px;
    background-color: cyan;
    background-image: url(/images/besa\ martini\ coach.png);
    background-position:center;
    background-size:cover;
    position: relative;
    
    
}


.coach-1 .coach-infos{
    display: grid;
    gap: 10px;
  position: absolute;
    font-size: 14px;
    color: white;
    text-align: center;
   
   
    font-weight: 550;
    background-color:black;
    width: 100%;
 
    bottom: 0px;
    
}


footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(63, 63, 63);
    justify-items: center;
    padding: 20px;
}
footer .contact{
    display: grid;
    grid-auto-flow: row;
}
footer .form{
    display: grid;
    grid-auto-flow: row;
    gap: 10px;

}
footer .social-media{
    display: grid;
    padding-top: 10px;
  
}
.social-media ul{
    display: grid;
grid-auto-flow: column;
}
.social-media ul img{
    height: 25px;
    width: 25px;
   
}
.social-media li{
    list-style: none;
}

footer .contact p {
    color: rgb(182, 180, 180);
}
footer .contact h2{
    color: rgb(182, 180, 180);
}
footer .contact h3{
    color: rgb(182, 180, 180);
}
footer .form h2{
    color: rgb(182, 180, 180); 
}

footer button{
    width: 100px;
    height: 40px;
    color: rgb(91, 91, 114);
    border-radius: 20px;
    box-shadow: 1px 1px 0.5px 0.5px rgb(104, 103, 103);
    border:none;
    font-size: 16px;
   
}
footer .submit-button{
    padding-left: 80px;
}
footer .name input{
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    border:none;
    padding: 5px;
    font-weight: 600;

}
footer .email input{
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    border:none;
    padding: 5px;
    font-weight: 600;

}
footer .phone-number input{
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    border:none;
    padding: 5px;
    font-weight: 600;

}
footer .message textarea{
    height: 50px;
    font-size: 15px;
    border-radius: 3px;
    border:none;
    padding: 5px;
    font-weight: 700;
     color:rgb(106, 106, 107); 
     width: 200px;

}


/* Animation */
footer  h2:hover{
    color: rgb(165, 165, 165);

}
header h1:hover{
    color: rgb(160, 159, 159);
}
header h1:hover{
}
header li:hover{
    color: rgb(160, 159, 159);
}
.section-1 button:hover{
    color: rgb(145, 143, 143);
  

}
.improved-areas a:hover{
    color: rgb(145, 143, 143);
}


 footer button:hover{
     background-color:rgb(175, 175, 175);
 }
  input:hover{
     color: honeydew;

 }
 .section-middle button:hover{
     background-color: cornflowerblue;
 }