*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}
image{
    width: 100%;
}
html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}
header{
    background-color:rgb(247, 245, 245);
    display: grid;
    grid-auto-flow: column;
    height: 70px;
    position: fixed;
    width: 100vw;
z-index: 10;
  
}
header h1{
 padding: 17px;
 font-size: 28px;
 padding-left: 40px;
 font-family:fantasy;
 font-weight: 100px;
 color: rgb(83, 82, 82);
}
header ul{
 display: grid;
 grid-auto-flow: column;
 align-items: center;
 justify-content: end;
 gap: 40px;
 padding-right: 50px;
}
header ul li{
    list-style: none;
    font-size: 18px;
 color: rgb(83, 82, 82);
 font-weight: 550;

    
}
header a{
    text-decoration: none;
}
main .section-1{
    display: grid;
    background-image: url(/about/photos/Tony\ robins\ blue.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    padding-top: 105px;
}
.section-1 .tony-description{
    display: grid;
    height: 80vh;
    width: 80vw;
    padding-top: 40px;
    justify-self: center;
    background-color: rgba(8, 8, 8, 0.4);
  gap: 10px;

}
.tony-description h2{
    text-align: center;
   color:  rgb(204, 204, 204);
   padding-bottom: 30px;
}
.tony-description p{
    display: grid;
    grid-auto-flow: row;
    
    text-align: center;
    color: rgb(204, 204, 204);
    justify-content: center;
    padding-left: 190px;
    padding-right: 190px;
  
}


.section-2 .coach-sections{
    background-color:#f9f9f9;;
  
    overflow: auto;
    height: 100%;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-content: start;
    justify-content: center;
    gap:30px ;
   
    padding:100px;
    padding-top:;
 

}
/* coach-1 */
.coach-sections .coach-1{
    display: grid;
    outline: 2px solid red;
   
  
}
 .coach-1 {
  height: 320px;
    background-color: cyan;
    background-image: url(/images/besa\ martini\ coach.png);
    background-position:center;
    background-size:cover;
    position: relative;
    
    
}


.coach-1 .coach-infos{
    display: grid;
    gap: 10px;
  position: absolute;
    font-size: 14px;
    color: white;
    text-align: center;
   
   
    font-weight: 550;
    background-color:black;
    width: 100%;
 
    bottom: 0px;
    
}


