*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}
image{
    width: 100%;
}
html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}
header{
    background-color:rgb(247, 245, 245);
    display: grid;
    grid-auto-flow: column;
    height: 70px;
    position: fixed;
    width: 100vw;

  
}
header h1{
 padding: 17px;
 font-size: 28px;
 padding-left: 40px;
 font-family:fantasy;
 font-weight: 100px;
 color: rgb(83, 82, 82);
}
header ul{
 display: grid;
 grid-auto-flow: column;
 align-items: center;
 justify-content: end;
 gap: 40px;
 padding-right: 50px;
}
header ul li{
    list-style: none;
    font-size: 18px;
 color: rgb(83, 82, 82);
 font-weight: 550;

    
}
header a{
    text-decoration: none;
}